:root {
  --bg: #313338;
  --fff: #FFF;
  --margin-space: -1rem;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  background: var(--bg);
  width: 100vw;
  height: 100vh;
}
